@font-face {
    font-family: 'Hylia Serif Beta';
    src: url('HyliaSerifBeta-Regular.woff2') format('woff2'),
        url('HyliaSerifBeta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

