.controls {
  display: flex;
  flex-direction: column;
  /* background-color: #282c34; */
  /* color: white; */
}

.guild {
  box-sizing: initial;
  display: inline-flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    transparent 1em,
    black 1em,
    var(--color) 3em,
    var(--color) 9em,
    black calc(100% - 1em),
    transparent calc(100% - 1em)
  );
  text-shadow: 0.1em 0.1em 0.1em black;
}

.guild::after {
  width: 0.25em;
  border-left: 0.75em solid black;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  display: inline-block;
  content: "";
  margin: 0;
  padding: 0;
}

.guild svg {
  filter: drop-shadow(0px 0px 2px black);
}

.Cards {
  display: block;
}

.Cards .card {
  display: inline-block;
  box-sizing: content-box;
  break-inside: avoid;
  border: thin solid black;
  margin: 0.0625in;
}

.hide {
  display: none !important;
}

.model-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.model-checkbox {
  margin: 0.25em;
  padding-right: 0.5em;
  text-shadow: 0.1em 0.1em 0.1em black;
  background-image: linear-gradient(
    to right,
    var(--color1) 10%,
    var(--color2) 90%
  );
}

.model-checkbox .MuiCheckbox-root {
  padding: 0.25em;
}

.model-checkbox {
  order: var(--major-order);
}
.model-checkbox.minor {
  order: var(--minor-order);
}
.model-checkbox:is(.Compound, .Lucky) {
  order: calc(var(--major-order) + 1);
}

@media screen {
  main {
    overflow: hidden;
  }
  .Cards {
    overflow-y: auto;
  }
}

@media print {
  @page {
  size: auto;
  margin: 0.25in;
  /* size: 5.24in 3.74in; */
  /* margin: 0; */
  }

  .no-print {
    display: none;
  }

  header {
    display: none !important;
  }

  .Cards {
    padding: 0 !important;
  }

  .Cards > .card {
    display: inline-block;
    break-inside: avoid;
    page-break-inside: avoid;
    margin: 0.0625in;
    /* margin: 0; */
    /* box-sizing: border-box; */
    border: none;
  }

  .MuiTooltip-popper {
    display: none !important;
  }
}
