.card-front,
.card-back {
  /* prevent UI theming from changing anything */
  all: initial;
  position: relative;
  overflow: hidden;
  --line-width: 1px;
  image-rendering: crisp-edges;
  /* This makes background images print */
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
  /*
  --rainbow: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);
  */
}

@-moz-document url-prefix() {
  .card-front,
  .card-back {
    /* firefox won't draw lines that scale down below 1px */
    --line-width: calc(1px / var(--scale));
  }

  @media print {
    .card-front,
    .card-back {
      /* but they seem to print just fine */
      --line-width: 1px;
    }
  }
}

/* card sizing and background image placement */

div.card-front {
  width: 100%;
  aspect-ratio: 5 / 7;
  max-width: 500px;
  max-height: 700px;
  border-radius: calc(25px * var(--scale));
  background-size: 110% auto;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* scalable overlay */

div.card-front > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 700px;
  transform-origin: top left;
  transform: scale(var(--scale));
  /* outline: 1px solid red; */
}

div.card-front.bleed {
  background-size: auto 100%;
}

div.card-front.bleed.double {
  background-position: left;
}

div.card-front.bleed > .overlay {
  top: calc(25px * var(--scale));
  left: calc(25px * var(--scale));
}

div.card-front.gbcp {
  /* no print bleed on these */
  background-position: right;
  background-size: 100% 100%;
}

div.card-front.gbcp.bleed {
  /* no print bleed on these */
  background-position: center center;
  background-size: calc(100% - 25px) calc(100% - 25px);
  background-color: var(--mom-color, var(--team-color));
}

div.card-front.gbcp.bleed.double {
  /* no print bleed on these */
  background-position: right;
  background-size: calc(100% - 12.5px) calc(100% - 25px);
  background-color: var(--mom-color, var(--team-color));
}

/* top box positioning and layout */

.card-front .name-plate {
  position: absolute;
  top: 15px;
  left: 0;
  width: 310px;
  height: 67px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 7px;
}

.card-front.gbcp .font-top-box {
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  top: 17px;
  left: 12px;
  width: 376px;
  height: 132px;
  background-color: var(--gbcp-color);
  z-index: -2;
}

.card-front.gbcp .name-plate {
  top: 2px;
  left: 0;
  padding: 0;
  width: 100%;
}

/* icon placement and styling */

.card-front .name-plate .guild-icon {
  position: relative;
  width: 65px;
  height: 65px;
  font-size: 65px;
  display: flex;
  overflow: visible;
  align-items: center;
  justify-content: center;
}

.card-front .name-plate .guild-icon svg {
  flex-shrink: 0;
}

/* sub-box placement */

.card-front .name-plate > .name-plate-right {
  position: relative;
  overflow: visible;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.card-front .name-plate-right > .name {
  display: flex;
  font-family: "IM Fell Great Primer SC", serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -0.05em;
  margin-top: -8px;
  line-height: 50px;
}

.card-front.gbcp .name-plate-right > .name {
  font-family: "IM Fell Great Primer", serif;
}

/* drop cap */

.dropcap {
  white-space: pre-wrap;
}

.dropcap span {
  display: inline-block;
}

.dropcap span::first-letter {
  float: left;
  padding-top: 0.075em;
}

@-moz-document url-prefix() {
  .dropcap span::first-letter {
    float: unset;
    padding: inherit;
  }
}

.card-front .name-plate-right > .reach {
  position: absolute;
  bottom: 0;
  width: 230px;
  font-family: "Crimson Text", serif;
  font-size: 21px;
  border-top: var(--line-width) solid black;
  border-image-source: linear-gradient(to left, transparent, black 150px);
  border-image-slice: 1 0 0 0;
  text-align: left;
}

.card-front.gbcp .name-plate-right > .reach {
  width: 310px;
}

/* stat box */

.card-front .statbox {
  /* positioning */
  position: absolute;
  top: 105px;
  left: 24px;
  width: 293px;
  /* grid layout */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* text styling */
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -1px;
  text-align: center;
}

.card-front.gbcp .statbox {
  top: unset;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  padding: 0 5px 2px;
  width: calc(100% - 10px);
  font-size: 24px;
}

/* interior border */

.card-front .statbox > :nth-child(-n + 6) {
  border-bottom: var(--line-width) solid black;
}

.card-front .statbox > :not(:nth-child(6n + 1)) {
  border-left: var(--line-width) solid black;
}

/* playbook */

.card-front .playbook {
  /* positioning */
  position: absolute;
  top: 167px;
  left: 24px;
  /* grid layout */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 7px;
  font-size: 44px;
}

.card-front.gbcp .playbook {
  top: 158px;
  left: 13px;
  gap: 3px;
}

/* playbook result display */

.card-front .playbook-result {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-front .playbook-result svg {
  fill: black;
}

/* momentus result display overrides */

.card-front .playbook-result.momentus {
  border-color: var(--mom-border-color, black);
  background-color: var(--mom-color, var(--team-color));
}

.card-front .playbook-result.momentus svg {
  fill: white;
}

/* blank spacer display overrides */

.card-front .playbook-result.spacer {
  border: none;
  background-color: transparent;
}

/* character play box */

.card-front .character-plays {
  /* placement */
  position: absolute;
  top: 272px;
  width: 390px;
  padding: 5px 0 0 24px;
  /* layout */
  display: grid;
  grid-template-columns: 232px repeat(4, 1fr);
  align-items: flex-end;
  text-align: center;
  /* default text styling, used from the CP attributes */
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 20px;
}

.card-front.card-front.gbcp .character-plays-wrapper {
  position: absolute;
  top: 256px;
  left: 13px;
  width: 373px;
  height: 318px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: var(--gbcp-color);
  z-index: -2;
}

.card-front.gbcp .character-plays {
  position: static;
  width: calc(100% - 10px);
  margin: 0;
  padding: 1px 3px 0 7px;
  grid-template-columns: 216px repeat(4, 1fr);
  font-family: unset;
  font-size: 18px;
}

/* first row borders */

.card-front .character-plays > :nth-child(-n + 5) {
  padding: 2px;
  border-bottom: var(--line-width) solid black;
  border-left: var(--line-width) solid black;
  letter-spacing: -1px;
}

/* "Character Plays" header */

.card-front .character-plays > :first-child {
  font-family: "IM Fell Great Primer SC", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1em;
  text-align: left;
  padding: 0;
  border-left: none;
}

/* individual play name styling */

.card-front .character-plays .name {
  font-family: "Crimson Text", serif;
  font-size: 20px;
  white-space: nowrap;
  text-align: left;
}

.card-front .character-plays .name > span:first-child {
  font-weight: 800;
  font-style: italic;
}

.card-front .character-plays .name > span:nth-child(2) {
  font-weight: 600;
  font-size: 19px;
  letter-spacing: -1px;
}

/* chatacter play text layout and styling */

.card-front .character-plays .text {
  grid-column-end: span 5;
  font-family: "Crimson Text", serif;
  font-size: 21px;
  line-height: 22px;
  text-align: left;
  white-space: pre-wrap;
  padding-bottom: 5px;
  letter-spacing: -1px;
}

.card-front .health {
  /* grid positioning */
  position: absolute;
  bottom: 22px;
  left: 24px;
  /* grid layout */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px 5.3px;
}

.card-front.gbcp .health {
  bottom: unset;
  /* bottom: 40px; */
  top: calc(100% - 109px);
  left: 10px;
  grid-template-columns: repeat(4, 1fr) 1.5fr repeat(5, 1fr);
  gap: 5.5px 4.8px;
  filter: drop-shadow(0 0 5px black);
}

.card-front .health-box {
  /* how a box/circle displays */
  width: 25px;
  height: 25px;
  border-radius: 25px;
  box-sizing: border-box;
  border: var(--line-width) solid black;
  background-color: white;
  /* positioning text and icons */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 23px;
  /* text and icon styling */
  font-family: "Crimson Text", serif;
  font-weight: 600;
  color: var(--mom-color, var(--team-color));
}

.card-front.gbcp .health-box {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  font-size: 23px;
  filter: drop-shadow(0 0 5px black);
}

.card-front .health-box.damaged {
  color: black;
  background-color: darkred;
}

.card-front.gbcp .health-box svg {
  /* FIXME, bigger icons, move sizes JS -> CSS*/
}

/* quirks, card specific fixes, etc. */

/* Smoke has too much text */

.Smoke .character-plays .text {
  /* letter-spacing: -1.1px; */
  /* word-spacing: -1.1px; */
  font-size: 20px;
  line-height: 21px;
}

/* Skatha was close, and the french translation pushed it over */

.Skatha.lang-fr .character-plays .text {
  /* letter-spacing: -1.1px;
  word-spacing: -1.1px; */
  font-size: 20px;
  line-height: 21px;
}

/* 'The Hat' has a crazy long name */

.Harry.card-front .name-plate-right > .name {
  font-size: 36px;
}

.vHarriet.card-front .name-plate-right > .name {
  font-size: 32px;
}

/* Compound/Lucky playbook gradients */

.Compound .playbook-result.momentus {
  background-image: linear-gradient(
    to right,
    var(--guild1-color) calc((1 - var(--col)) * 100%),
    var(--guild2-color) calc((5 - var(--col)) * 100%)
  );
}

.Lucky .playbook-result.momentus {
  background-image: linear-gradient(
    to right,
    var(--guild2-color) calc((0 - var(--col)) * 100%),
    var(--guild1-color) calc((4 - var(--col)) * 100%)
  );
}

.Lucky .gbcp .health-box {
  color: var(--guild2-color);
}

/* Compound/Lucky cross-fade icons */

.Compound .guild-icon {
  content: url("../assets/compound.svg");
}

.Lucky .guild-icon {
  content: url("../assets/lucky.svg");
}

/* Flea's "Like We Practised" is really long with the mascot names */

.Flea.gbcp .character-plays div.name:nth-of-type(3) > span:nth-child(2)::before {
	color: 'red';
	content: "\a";
	white-space: pre;
}

/* rainbow playbooks */

.card-front .playbook-result.momentus {
  --rainbow: repeating-linear-gradient(60deg,
  #adfbda calc((0 - var(--col)) * 100%),
  #35c3ff calc((7/5 - var(--col)) * 100%),
  #fda399 calc((14/5 - var(--col)) * 100%),
  #76d880 calc((21/5 - var(--col)) * 100%),
  #ebf38b calc((28/5 - var(--col)) * 100%),
  #adfbda calc((7 - var(--col)) * 100%)
  );
  background-image: var(--rainbow) !important;
  border-color: black !important;
}
.card-front .playbook-result.momentus svg {
  fill: black !important;
}
