/* quirks, card specific fixes, etc. */

/* while waiting on better cards ... */
:is(.Oak,.Chipper,.Bucker,.CrossCut,.Cross,.Cut,.Itsa,.Tinder) > .overlay > :not(.health) {
  color: red;
  display: none !important;
}

/* Harry/Harriet 'The Hat' has a crazy long name */

.Harry.card-front .name-plate-right > .name {
  font-size: 33px;
}
.vHarriet.card-front .name-plate-right > .name {
  font-size: 30px;
}

/* Smoke has too much text */

/* .Smoke .character-plays .text { */
/*   font-size: calc(6.5pt * 200/96); */
/*   line-height: 1.1em; */
/* } */

/* Skatha was close, and the french translation pushed it over */

.Skatha[lang="fr"] .character-plays .text {
  font-size: calc(6.7pt * 200/96);
}

.Silence .character-plays .text {
  font-size: calc(6.7pt * 200/96);
}
.FireBlast .text {
  ::first-line { letter-spacing: normal; }
  letter-spacing: -0.4px;
}

.Midas {
  /* letter-spacing: -0.3px; */
  /* word-spacing: -0.3px; */
}

.Oak.card-back {
  /* font-size: calc(6.75pt * 200/96); */
}

.LikeWePractised .name {
  font-size: calc(6.7pt * 200/96);
}

.MidasTouch .text {
  ::first-line { letter-spacing: normal }
  letter-spacing: -0.2px;
}

.Infuse .text {
  ::first-line { letter-spacing: -0.5px; }
  letter-spacing: -1px;
}

.CaberToss .text {
  letter-spacing: -0.1px;
}

.SwipeRight .text {
  letter-spacing: -0.1px;
}
