/* card sizing and background image placement */

div.card-back {
  width: 100%;
  aspect-ratio: 5 / 7;
  max-width: 500px;
  max-height: 700px;
  border-radius: calc(25px * var(--scale));
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* scalable overlay */

div.card-back .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 700px;
  transform-origin: top right;
  transform: scale(var(--scale));
}

div.card-back.bleed {
  aspect-ratio: 2.75 / 3.75;
  max-width: 550px;
  max-height: 750px;
  background-size: auto 100%;
}

div.card-back.bleed.double {
  background-position: right;
}

div.card-back.bleed > .overlay {
  top: calc(25px * var(--scale));
  right: calc(25px * var(--scale));
}

/* no print bleed on these */
div.card-back.gbcp {
  box-sizing: border-box;
  background-size: 100%;
  background-origin: content-box;
}
div.card-back.gbcp > .overlay {
  box-sizing: content-box;
}
div.card-back.gbcp.bleed {
  padding: calc(25px * var(--scale));
  background-color: var(--mom-color, var(--team-color));
}
div.card-back.gbcp.double.bleed {
  padding-left: unset;
}

.card-back .container {
  position: absolute;
  top: 23px;
  width: 100%;
  height: 563px;
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 24px;
  /* padding-right: 1em; */
  display: flex;
  flex-direction: column;
}

.card-back.gbcp .container {
  position: absolute;
  top: 16px;
  margin-left: 91px;
  margin-right: 9px;
  width: unset;
  height: unset;
  min-height: 565px;
  padding: 5px 4px 0;
  border: 2px solid black;
  border-radius: 5px;
  background-color: var(--gbcp-color);
}

.card-back .name-plate {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
}

.card-back.gbcp .name-plate {
  display: none;
}

/* icon placement and styling */

.card-back .name-plate .guild-icon {
  width: 45px;
  height: 45px;
  font-size: 45px;
  display: flex;
  overflow: visible;
  align-items: center;
  justify-content: center;
}

.card-back .name-plate .guild-icon svg {
  flex-shrink: 0;
}

.card-back .name-plate .name {
  display: flex;
  font-family: "IM Fell Great Primer SC", serif;
  line-height: .8em;
  margin-left: 5px;
  font-size: calc(15pt * 200/96);
  letter-spacing: -2px;
  border-bottom: var(--line-width) solid var(--line-color);
  border-image-source: linear-gradient(to left, transparent, var(--line-color) 150px);
  border-image-slice: 0 0 1 0;
  width: 100%;
}

/* applies to all headers */
/* character traits, heroic plays, legendary plays */

.card-back .header {
  text-align: left;
  font-family: "IM Fell Great Primer SC", serif;
  font-size: calc(12pt * 200/96);
  letter-spacing: -0.25px;
  line-height: 1.1em;
  height: 1.1em;
  margin-bottom: 5px;
  border-bottom: var(--line-width) solid var(--line-color);
  border-image-source: linear-gradient(to left, transparent, var(--line-color) 150px);
  border-image-slice: 0 0 1 0;
}

.card-back .character-trait {
  text-align: left;
  em {
    font-size: calc(6.5pt * 200/96);
  }
}

.card-back .character-trait .trait {
  font-weight: bold;
  font-style: italic;
  font-size-adjust: ch-width 0.55;
  letter-spacing: -0.3px;
}

/* replaced with SVG icon ... for good? */
/* .card-back .character-trait .trait.active > ::before { */
/* .card-back .character-trait .trait .active { */
  /* content: "◉ "; */
  /* font-family: "Noto Sans Symbols 2", sans-serif; */
  /* font-size: calc(14pt * 200/96); */
  /* font-size-adjust: ch-width 1; */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */

.card-back .character-trait .trait > :first-child > :nth-child(3) {
  font-weight: bold;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: initial;
}

.card-back .character-trait .text {
  line-height: 1.1em;
  text-align: left;
  white-space: pre-wrap;
  margin-bottom: 0.25em;
  display: flex;
  flex-direction: column;
  * { margin: 0; }
  ul {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
  }
}

.card-back[lang="zh"] .character-trait .text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: unset;
}

.card-back :is(.legendary, .heroic) {
  line-height: 22px;
  text-align: left;
  white-space: pre-wrap;
  & > span {
    display: flex;
    flex-direction: column;
  }
  * { margin: 0; }
  ul {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
  }
  em {
    font-size: calc(6.5pt * 200/96);
  }
}

.card-back[lang="zh"] :is(.legendary, .heroic) {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: unset;
}

.card-back :is(.heroic, .legendary) > :first-child > :nth-child(2) {
  font-weight: bold;
  font-style: italic;
  font-size-adjust: ch-width 0.55;
  letter-spacing: -0.3px;
}

.card-back :is(.legendary, .heroic) > :first-child > :nth-child(3) {
  font-weight: bold;
  font-style: normal;
  font-size-adjust: ch-width 0.55;
}

/* spacing for blacksmith masters */
.card-back .legendary > * > span:not(:first-child) {
  margin-top: 1em;
}

.card-back .footer {
  position: absolute;
  top: 595px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-back.gbcp .footer {
  position: absolute;
  top: 612px;
  left: 91px;
  right: 9px;
  bottom: 16px;
  height: unset;
  width: unset;
  padding: 0 4px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: var(--gbcp-color);
}

.card-back .footer .tags {
  margin-top: 3px;
  line-height: 1em;
  text-align: left;
  white-space: pre-wrap;
}

.card-back.gbcp .footer .tags {
  font-size: 18px;
}

.card-back .footer .right {
  display: flex;
  flex-direction: column;
}

.card-back .footer .icons {
  display: flex;
  flex-direction: row-reverse;
  align-items: right;
  justify-content: right;
}

.card-back .footer .icons .wrapper {
  font-size: 44px;
  width: 1em;
  height: 1em;
  padding: 0.0625em;
  margin-left: 1px;
  box-sizing: border-box;
  background-clip: content-box;
  background-color: white;
  border-radius: 50%;
  overflow: visible;
  display: flex;
  place-content: center;
  place-items: center;
}

.card-back.gbcp .footer .icons .wrapper {
  background-color: transparent;
}

.card-back .footer .icons svg {
  flex-shrink: 0;
}

.card-back .footer .base-size {
  margin-right: 3px;
  margin-top: -2px;
  text-align: right;
}
